<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Sicosis_Store/
    
    # Reglas para redirigir a /admin/login al archivo login.html
    RewriteCond %{REQUEST_URI} ^/Sicosis_Store/admin/login$
    RewriteRule ^(.*)$ /Sicosis_Store/admin/login.html [L]

    # Reglas estándar para el resto del sitio
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /Sicosis_Store/index.html [L]
</IfModule>
