<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Sicosis_Store/homepage
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /Sicosis_Store/index.html [L]
</IfModule>
