@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-main: #0d0c0c;
    --clr-red: #790614;
    --clr-white: #f9f6ec;
    --clr-blue: #88a1a8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, input,textarea,ul{
    margin: 0;
    padding: 0;
}

.carrusel-main {
    height: 50px; /* Ajusta la altura según sea necesario */
}   

/*---------------------------MENU IZQUIERDA ASIDE-----------------------------------------------------------*/

.layout-container {
    display: flex;
}

.container-form{
    margin: 4%;
}

.registrarse{
    margin: 100PX;
}
.contener-input input{
    border: 2px solid black;
    background-color: #f9f6ec;
    border-radius: .5em;
    margin-left: 5px;
}

.carrusel-nav {
    height: 100vh;
    margin-left: 2%;
    flex: 0 0 20%;

    padding: 0px; 
    border-radius: .5rem;
}

.contendor-imagen-izq{
    height: 100%;
}

.contendor-imagen-izq img{
    width: 10px;
}

.contenedor-carrusel{
    height: 100%;
}

.imagen-carrusel-izq{
    height: 100vh;
    margin-top: 5px;
    border-radius: .5rem;
}

/*-------------------------------------------------------------------------------------------------------------*/


/*---------------------------MAIN PRINCIPAL -------------------------------------------------------------------*/



.carrusel-main{
    margin-top: 5%;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.collapse:not(.show) {
    display: none !important;
}

.container {
    overflow-x: hidden;
}

.row {
    max-width: 100%;
}


.card {
    width: 100%;
}

.cards-main {
    flex: 3; 
    margin: 0% 1%;
}

.card-img-top {
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño sin distorsión */
}

.card-body {
    padding: 10px; /* Reduce el relleno interno de la tarjeta */
}

.list-group-item {
    padding: 5px 10px; /* Reduce el relleno de los elementos de la lista */
}

.contenedor-imagenes {
    color: white;
    background-color: #0d0c0c;
}

.contenedor-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px; /* Asegúrate de que la altura sea consistente */
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.texto-carrusel {
    margin: 5px; /* Elimina cualquier margen adicional */
    text-align: center; /* Asegura que el texto esté centrado */
}