@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-main: #0d0c0c;
    --clr-red: #790614;
    --clr-white: #f9f6ec;
    --clr-blue: #88a1a8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, input,textarea,ul{
    margin: 0;
    padding: 0;
}

.carrusel-main {
    height: 50px; /* Ajusta la altura según sea necesario */
}
/*-----------------------------------------------NAVEGACIÓN------------------------------------------------*/ 

.barra-busqueda{
    width: 280PX;
    height: 40px;
    margin-top: 7px;
    border:2px solid black;
    padding: 10px;
    border-radius: 1em;
}
.button-nav{
    font-size: 24px;
}

/*---------------------------------------------------------------------------------------------------------*/

/*---------------------------MENU IZQUIERDA ASIDE-----------------------------------------------------------*/

.layout-container {
    display: flex;
    margin-top: 20px;
    margin: 2px;
}

.container-form{
    margin: 4%;
}



.registrarse{
    margin: 100PX;
}
.contener-input input{
    border: 2px solid black;
    background-color: #f9f6ec;
    border-radius: .5em;
    margin-left: 5px;
}

.carrusel-nav {
    height: 100%;
    margin-left: 2%;
    flex: 0 0 20%;
    padding: 0px; 
    border-radius: .5rem;
}

@media (max-width: 500px) {
    .carrusel-nav{
        height: 100vh;
        margin-top: 10px;
        flex: 0 0 30%;
        background-color: #790614;
    }
}

.contendor-imagen-izq{
    height: 100%;
}

@media (max-width:500){
    .contendor-imagen-izq{
        height: 100%;
    }
}


.imagen-carrusel-izq{
    height: 100vh;
    margin-top: 5px;
    border-radius: .5rem;
}

.border-input{
    border:2px solid black;
}

/*-------------------------------------------------------------------------------------------------------------*/


/*------------------------------------CARRUSEL-TEXTO------------------------------------------------------*/

.carrusel-main{
    margin: 5.3% 0% 3% 0%;
    height: 30px;
}

@media (max-width: 500px) {
    .carrusel-main{
        margin-top: 18%;
        height: 15px;
    }
}

.contenedor-texto{
    width: 100%;
    height: 50px;
    margin-bottom: 2%;
    background-color: #000000;
    color: white;
}

@media (max-width: 500px) {
    .contenedor-texto{
        width: 100%;
        height: 20px;
        background-color: #0d0c0c;
    }
}

.carrusel-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carrusel-texto .texto-carrusel{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 500px) {
    .carrusel-texto .texto-carrusel{
        font-size: 13px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------MAIN PRINCIPAL ------------------------------------------------*/

.cards-main {
    flex: 5; 
    margin: 0px;
    margin: 0% 2%;
    width: 100%;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container-cards{
    display: flex;
    justify-content: center;
    width: 100% !important;
    overflow: hidden;
}

.contenedor-fila-cards{
    margin: 0px;
    width: 100%;    
}

.card{
    border:2px solid #000000 !important;
}

.card {
    width: 100%;
    height: auto;
}

.card-img-top {
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño sin distorsión */
    max-width: 100%;
    height: auto; /*
}

.card-body {
    padding: 10px; /* Reduce el relleno interno de la tarjeta */
}

.list-group-item {
    padding: 5px 10px; /* Reduce el relleno de los elementos de la lista */
}


.contenedor-principal-index{
    margin-bottom: 30px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.collapse:not(.show) {
    display: none !important;
}

.container {
    overflow-x: hidden;
}

.button-detalles{
    background-color: #000000;
}

.button-detalles a{ 
    text-decoration: none;
    color: white;   
}

.card-title{
    width: 100%;

}

/*--------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------FOOTER-----------------------------------------------*/

.container-footer{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
}

@media (min-width: 1600px) {
    .container-footer{
        font-size: 35px;
    }
}

@media (min-width:600px) {
    .container-footer{
        font-size: 20px;
    }
}

.Logo-sicosis{
    width: 20vw;
}
@media (max-width:600px){
    .Logo-sicosis{
        width: 50vw;
    }
}

@media (min-width:1600px){
    .Logo-sicosis{
        width: 17vw;
    }
}

.footer-text{
    text-decoration: none;
    color: white;
}
/*----------------------------------------------------------------------------------------------------------*/

/*---------------------------------------ESTILOS PARA LA SECCIÓN DE PRODUCTOS----------------------------------*/


.titulo-dashboard{
background-color: black;
color: white;
}

.producto-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.contenedor-formulario{
    width: 100% !important;
    display: flex;
    margin-right: 0px !important;
    justify-content: center;
    align-items: center;
}

.input-agregar{
    border: 2px solid black !important;
}
.navbar-producto {
    margin-bottom: 20px;
}

.table-producto th, .table-producto td {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}


.btn-group-producto {
    width: 100%;
    display: flex;
    justify-content: center;

}
.contenedorImagenProducto{
    margin: 0 !important;
    padding: 0 !important;
}
.imagenProducto{
    padding: 0 !important;
    margin: 0 !important;
    height: 10%;
    width: 100px;
}


.buttonCrearproducto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px ;
    border: 2px solid black !important;
}

.contenedorTablaproductos{
    margin-top: 20px;
    border-top: 2px solid black !important;
    padding: 20px;
}

.listaProductos{
    margin: 0px;
}

/*--------------------------------------------------------------------------------------------------------*/
